// Color Variables
$primary-color: #406343;
$secondary-color: #EA5C2B;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Trebuchet MS', sans-serif;
$icon-font: 'themify';